.login {
    align-items     : center;
    justify-content : center;
    display         : flex;
    height          : 100vh;
    background-image: url("../../../public/imag1.jpg");

    .login-form {
        width           : 300px;
        margin-left     : 50px;
        border          : 1px solid #333;
        border-radius   : 10px;
        gap             : 20px;
        background-image: url("../../../public/cloud.jpg");

        .login-title {
            font-weight    : 500;
            font-size      : 50px;
            display        : flex;
            justify-content: center;
        }

        .inputs {
            display       : flex;
            align-items   : center;
            flex-direction: column;
            gap           : 10px;
            .input-container {
                .input {
                    display       : flex;
                    flex-direction: column;
                    border-radius : 5px;
                }
                .error-message {
                    color        : red;
                    font-size    : 12px;
                    margin-top   : 5px;
                    margin-bottom: 5px;
                    text-align   : left;
                    width        : 100%;
                }
            }
        }

        .login-confirm {
            display        : flex;
            justify-content: center;
            margin         : 10px;

            .btn-login {
                border-radius  : 5px;
                border         : 1px solid #333;
                display        : flex;
                justify-content: center;
                height         : 30px;
                align-items    : center;
                margin-top     : 10px;
            }
        }

        .login-split {
            display        : flex;
            justify-content: center;
            margin         : 20px;
        }

        .login-google {
            margin         : 10px 0;
            display        : flex;
            justify-content: center;
            color          : rgb(118, 152, 70);
            font-weight    : 400;
        }

        .forgot-password {
            display        : flex;
            justify-content: center;
            color          : red;
        }

        .to-signup {
            display        : flex;
            justify-content: center;
            color          : rgb(11, 140, 22);
            font-weight    : 400;
            margin         : 10px;
        }
    }
}