.item {
    display        : flex;
    align-items    : center;
    justify-content: center;
    text-decoration: none;
    color          : #6c757d;
    font-weight    : 500;
    transition     : color 0.3s;
    &:hover {
 
         opacity: 0.5;
    }

}