.user__find {
    display         : flex;
    align-items     : center;
    border-radius   : 15px;
    overflow-y      : auto;
    background-color: beige;
    margin          : 10px 30px;
    justify-content : space-between;

    /* Đảm bảo thanh cuộn dọc xuất hiện khi cần */
    .right {
        display        : flex;
        align-items    : center;
        justify-content: center;
        .user__avatar {
            margin: 0px 20px;
            cursor: pointer;
        }
        .user__infor {
            cursor: pointer;
            &:hover {
                opacity: 0.5;
            }

            .user__name {
                font-weight: 500;

            }

            .user__id {}


        }
    }

    .friend {
        margin   : 0 50px;
        font-size: 25px;

        &:hover {
            color: rgb(99, 105, 216);
        }
    }
}