.user__find {
    display         : flex;
    align-items     : center;
    border-radius   : 15px;
    overflow-y      : auto;
    background-color: beige;
    margin          : 10px 30px;

    /* Đảm bảo thanh cuộn dọc xuất hiện khi cần */
    .user__avatar {
        margin: 0px 20px;

    }

    .user__infor {
        .user__name {}

        .user__id {}

    }

    .friend {
        margin-left: 50px;
        font-size: 25px;
        &:hover {
            color: rgb(99, 105, 216);
        }
    }
}