
    .content-container {
        margin: 20px 0;
        gap: 50px;
        height : 80%;
        display              : grid;
        grid-template-columns: 16% 60% 16%;
        margin-bottom: 30px;
        /* Adjust column widths as needed */
    }



/* Media query for smaller screens */
@media (max-width: 768px) {
    .content-container {
        display       : flex;
        flex-direction: column;
    }
}