.comments {
    position        : fixed;
    bottom          : 0;
    right           : calc(40% + 5px);
    width           : 25vw;
    background-color: #fff;
    border          : 1px solid #ccc;
    border-radius   : 8px;
    box-shadow      : 0 0 10px rgba(0, 0, 0, 0.1);
    height          : 70vh;
    display         : flex;
    flex-direction  : column;
    overflow-y: hidden;
    margin-bottom: 10px;
    max-height: 300px;
}