.comments-container {
    position        : fixed;
    bottom          : 0;
    right           : calc(40% + 5px);
    width           : 25vw;
    background-color: #fff;
    border          : 1px solid #756f6f;
    border-radius   : 15px 15px 0 0;
    box-shadow      : 0 0 10px rgba(0, 0, 0, 0.1);
    height          : 70vh;
    display         : flex;
    flex-direction  : column;
    .comments-header {
        border-radius   : 15px 15px 0 0;
        display         : flex;
        justify-content : space-between;
        align-items     : center;
        height          : 60px;
        background-color: #55a9ad;
        .comment-title {
            margin: 5px 20px;
        }
        .header__closes {
            background-color: #55a9ad;
            border          : none;
            margin          : 0 5px;
            font-size       : 30px;
            align-items     : center;
            display         : flex;
            &:hover{
                background-color: #acf2f6;
            }
        }
    }
    .comments-body {
        flex          : 1;
        /* This makes the messages-body take up the remaining space */
        overflow-y    : auto;
        display       : flex;
        flex-direction: column;
        align-items   : center;
        /* This makes the messages-body take up the remaining space */
        .comment-container {
            align-self      : start;
            display         : inline-flex;
            border-radius   : 10px;
            background-color: rgb(173, 192, 192);
            margin          : 5px 5px;
            .comment-comments {
                .comment__avatar{
                    
                }
                display        : flex;
                align-items    : center;
                justify-content: center;
                flex-direction : column;
                align-self     : flex-start;
                margin-right   : 10px;
                word-wrap      : break-word;
                /* Break long words onto the next line if necessary */
                white-space    : pre-wrap;
                /* Keep whitespaces and allow text to wrap */
                .comment__sender {
                    font-size  : 15px;
                    align-self : flex-start;
                    font-weight: 500;
                }
                .comment__content {
                    align-self : flex-start;
                    font-size  : 15px;
                    font-weight: 400;
                }
            }

        }

    }

    .comments-footer {
        display   : flex;
        padding   : 10px;
        align-items: center;
        justify-content: space-between;
        
        border-top: 1px solid #ccc;


        .comment-add {
            flex: 1;
            margin-right: 10px;
            border-radius: 5px;
        }

        .send {
            display: flex;
            align-items: center;
            justify-content: center
            ;
        }
    }
}